<table class="table table-striped" class="genericTable">
    <thead>
    <tr>
        <th style="text-align: center;">Deporte</th>
        <th style="text-align: center;">Cantidad Personas</th>
        <th style="text-align: center;">Lugar</th>
        <th style="text-align: center;">De</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center;" ng-repeat="partidoConBool in partidosConBool">
        <td>{{ partidoConBool.partido.deporte }}</td>
        <td>{{ partidoConBool.partido.cant_personas }}</td>
        <td>{{ partidoConBool.partido.lugar}}</td>
        <td>{{ partidoConBool.partido.usuario.facebook_id }}</td>
        <td>
            <button ng-if="partidoConBool.estoyInscripto == true" class="btn btn-danger" ng-click="desanotarme(partidoConBool)">
                <span class="glyphicons"></span>Desanotarme
            </button>
            <button ng-if="partidoConBool.estoyInscripto == false" class="btn btn-success" ng-click="anotarme(partidoConBool)">
                <span class="glyphicons"></span>¡Quiero participar!
            </button>
        </td>
    </tr>
    </tbody>
</table>
