<table class="table table-striped" class="genericTable">
    <thead>
    <tr>
        <th style="text-align: center;">Deporte</th>
        <th style="text-align: center;">Cantidad Personas</th>
        <th style="text-align: center;">Lugar</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center;" ng-repeat="partido in partidos">
        <td>{{ partido.deporte }}</td>
        <td>{{ partido.cant_personas }}</td>
        <td>{{ partido.lugar}}</td>
        <td>
            <button class="btn btn-danger" ng-click="delete($index)">
                <span class="glyphicons"></span>Eliminar
            </button>
        </td>
    </tr>
    </tbody>
</table>
