    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <img class="logo-user img-rounded"  src={{user.picture.data.url}}>
        {{user.name}}<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/app/partidos">Mis partidos</a></li>
        <li>
            <div class="fb-login-button" style="" data-max-rows="1" data-scope="user_friends, publish_actions, publish_pages" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
        </li>
    </ul>
